*{
	padding: 0px;
	margin: 0px;
	margin-top: 20px;
}

@font-face{
	font-family: woodcut;
	src: url(fonts/WOODCUT.TTF);
}

a{
	text-decoration: none;
	color: #e94fff;
	padding: 10px;
	background-color: #252525;
	-webkit-transition: all 0.4s ease;
	-webkit-border-radius: 0px;
	-moz-transition: all 0.4s ease;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
a:hover{
	background-color: #999944;
	color: black;
	-webkit-transition: all 0.4s ease;
	-webkit-border-radius: 100px;
	-moz-transition: all 0.4s ease;
	-moz-border-radius: 100px;
	border-radius: 100px;
}
body{
	background-color:#252525;
	color: #f39c12;
	font-family:sans-serif;
}
div#name{
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 50px;
	left: 0;
	width: 350px;
	height:90px;
	color: #e94f6e;
	font-size: 30px;
	border-bottom: 10px solid #e94f6e;	
	cursor: pointer;
}
div#links{
	position: absolute;
	margin: auto;
	top: 300px;
	right: 0;
	bottom: 0;
	left: 0;
	width: 310px;
	height:40px;
	color: #e94f6e;
	font-size: 30px;
	border-bottom: 0px solid #e94f6e;
	-webkit-transition: all 0.4s ease;
}
div#cccf{
	position: absolute;
	margin: auto;
	top: 140px;
	right: 0;
	bottom: 0;
	left: 0;
	width: 340px;
	height:40px;
	color: #e94f6e;
	font-size: 30px;
	font-size: 15px;
}
div#cccf a{
	border-bottom: 0px solid;
	-webkit-transition: all 0.4s ease;
}
div#cccf a:hover{
	border-bottom: 10px solid;
	-webkit-transition: all 0.4s ease;
}
div#links a{
	background-color: #252525;
	-webkit-transition: all 0.4s ease;
	-webkit-border-radius: 0px;
	-moz-transition: all 0.4s ease;
	-moz-border-radius: 0px;
	border-radius: 0px;

}
div#links a:hover{
	background-color: #999944;
	color: black;
	-webkit-transition: all 0.4s ease;
	-webkit-border-radius: 100px;
	-moz-transition: all 0.4s ease;
	-moz-border-radius: 100px;
	border-radius: 100px;
}
div#photo{
	position: absolute;
	margin: auto;
	top: -400px;
	right: 0;
	bottom: 0;
	left: 0;
	width: 170px;
	height:242px;
	color: #e94f6e;
	font-size: 30px;
	border-bottom: 0px solid #e94f6e;
	-webkit-transition: all 0.4s ease;
}
div#photo img{
	border-bottom:0px solid #e94f6e;
	-webkit-transition: all 0.4s ease;-moz-transition: all 0.4s ease;
	-webkit-border-radius:100px;
	height: 230px;
	width: 158px;
}
div#photo img:hover{
	border-bottom: 10px solid #e94f6e;
	-webkit-border-radius:50px;
	-webkit-transition: all 0.4s ease;-moz-transition: all 0.4s ease;
}
div#photo a:hover{
	background-color: #252525;
}